body.home {
    font-family: Courier, New, monospace;
    background-image: url("./Assets/backgrounds/home.svg");
}

body.about {
    font-family: Courier, New, monospace;
    color: white;
    background-image:url("./Assets/backgrounds/about.svg");
}

body.contact {
    color: white;
    font-size: 16px;
    font-family: Courier, New, monospace;
    background-image:url("./Assets/backgrounds/contact.svg");
}

h1 {
    font-size: 80px;
    font-family: Courier, New, monospace;
    letter-spacing: 2px;
    color: white;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: Courier, New, monospace;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.button-anim-press {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Courier, New, monospace;
    outline: none;
    color: #fff;
    background-color: #00a2ed;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button-anim-press:hover {
    background-color: #808080;
}

.button-anim-press:active {
    background-color: #808080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
